<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4"><%= quiz.title %></h2>
    <p class="lead"><%= quiz.description %></p>
    <p class="font-weight-bold">par <%= quiz.author.fullname %></p>
    <p class="lead"><%= quiz.questions.length %> questions</p>
</div>

<div class="row">

    <% for (let tag of quiz.tags) { %>
    <div class="col-3 p-4 text-center">
        <% if (tag.color) {%>
            <a class="btn btn-block tag " style="background-color: <%= tag.color %>"href="/tag/<%= tag.id %>">
                <%= tag.name %>
            </a>
        <%} else {%>
            <a class="btn btn-block tag tag--<%= tag.name.toLowerCase() %>" href="/tag/<%= tag.id %>">
                <%= tag.name %>
            </a>
        <%}%>
    </div>
    <% } %>

</div>

<div class="row">
    <form method="POST">
        <% for(let question of quiz.questions) { %>

        <div class="col-12">
            <label class="badge level level--<%= question.level.name.toLowerCase() %>"><%= question.level.name %></label>
            <h4>
                <%= question.question %>
            </h4>
            <ul class="list-unstyled ml-5">
                <% for(let index in question.answers){ %>
                <%# on boucle sur chaque réponse possible pour une question %>
                <%# on place un bouton radio avec un name en commun afin de ne permettre qu'un seul choix à l'utilisateur %>
                <%# on utilise value pour stocker l'id en BDD de la réponse en cours %>
                <%# au click sur valider, dans body.request, on obtiendra une valeur par question, de la forme :

                    question_X: id_reponse_selectionnee_par_user
                
                et ce pour chaque question %>
                <li><input type="radio" name="question_<%= question.id %>" 
                    value="<%=question.answers[index].id %>"><%= question.answers[index].description %></li>
                <% } %>
            </ul>
        </div>


        <% } %>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
    </form>

</div>

<%- include('partials/footer') %>